/* some global css. Most styling should be done through inline styles. */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #e7ecef;
  font-family: "Roboto", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
  color: white; 
}

a {
	color: white;
}

/* global styles for temp dev use */
h1 {
	font-size: 30px;
}

/* saira-200 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 200;
  src: local('Saira ExtraLight'), local('Saira-ExtraLight'),
       url('../fonts/saira-v2-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-v2-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-300 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Light'), local('Saira-Light'),
       url('../fonts/saira-v2-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-v2-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-regular - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Regular'), local('Saira-Regular'),
       url('../fonts/saira-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-500 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  src: local('Saira Medium'), local('Saira-Medium'),
       url('../fonts/saira-v2-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-600 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  src: local('Saira SemiBold'), local('Saira-SemiBold'),
       url('../fonts/saira-v2-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-v2-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-700 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  src: local('Saira Bold'), local('Saira-Bold'),
       url('../fonts/saira-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 200;
  src: local('Saira Condensed ExtraLight'), local('SairaCondensed-ExtraLight'),
       url('../fonts/saira-condensed-v3-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v3-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-condensed-300 - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Condensed Light'), local('SairaCondensed-Light'),
       url('../fonts/saira-condensed-v3-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v3-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-condensed-regular - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'),
       url('../fonts/saira-condensed-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-condensed-500 - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Saira Condensed Medium'), local('SairaCondensed-Medium'),
       url('../fonts/saira-condensed-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-condensed-600 - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Saira Condensed SemiBold'), local('SairaCondensed-SemiBold'),
       url('../fonts/saira-condensed-v3-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v3-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
